'use strict';

module.exports = function() {
  return {
    app: {
      id: null,
      secret: null
    },

    group: {
      id: null
    },

    interfaces: {
      vk: {
        params: {
          access_token: null
        }
      },

      translate: {
        params: {
          key: null
        }
      }
    }
  };
};
